[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = smelinhel
	email = 105977277+smelinhel@users.noreply.github.com
